/* main.css */

body {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("../images/background-image.jpg"); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Use min-height instead of height for better responsiveness */
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* min-height: 50%;  */
    /* min-width: 50%; */
    /* width: 90%; */
    /* max-width: 400px; */
    background-color: rgba(255, 255, 255, 0.5); /* Glass blur effect background color */
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 30px;
    position: relative;
    overflow: hidden;
}
